<section class="py-5 px-3 mb-5 mt-5">
  <div class="login-container">
<h1 class="h2" *ngIf="!isLoggedIn">{{ 'LOGIN.LOGIN' | translate }}</h1>
<h1 class="h2" *ngIf="isLoggedIn">{{ 'MISC.WELCOME_USERNAME_' | translate: { username: username } }}</h1>

<form [formGroup]="loginForm" *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()">
  <label for="username">{{ 'USER_DASHBOARD.USER_NAME' | translate }}</label>
  <input id="username" type="text" formControlName="username" placeholder="{{ 'MISC.ENTER_YOUR_USERNAME' | translate }}" required />

  <label for="password">{{ 'MISC.PASSWORD' | translate }}</label>
  <input id="password" type="password" formControlName="password" placeholder="{{ 'MISC.ENTER_YOUR_PASSWORD' | translate }}" required />

  <button type="submit" class="btn">{{ 'LOGIN.LOGIN' | translate }}</button>
</form>

<p *ngIf="errorMessage" class="error-message" role="alert">{{ errorMessage | translate }}</p>

<div *ngIf="isLoggedIn">
  <button (click)="onLogout()" class="btn">{{ 'MISC.LOGOUT' | translate }}</button>
</div>
<div *ngIf="isLoggedIn" class="mt-3">
  <button class="btn" (click)="goToDashboard()">
    {{ (role === 'admin' ? 'MISC.GO_TO_ADMIN_DASHBOARD' : 'MISC.GO_TO_USER_DASHBOARD') | translate }}
  </button>
</div>


  </div>
</section>
