<section [ngClass]="getGradientClass()">
  <div class="page-wrapper">
<!-- Navigation Bar -->
<div class="navbar navbar-expand-lg p-2 centered-navbar d-none d-lg-block">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Left (Language Switcher) -->
    <div class="d-flex align-items-center">
      <div class="language-switcher me-2">
        <button class="lang-btn" [ngClass]="{'active': currentLanguage === 'al'}" (click)="switchLanguage('al')">AL</button>
        <button class="lang-btn" [ngClass]="{'active': currentLanguage === 'en'}" (click)="switchLanguage('en')">EN</button>
      </div>
    </div>
    <!-- Centered Navigation Links -->
    <div class="center-nav d-flex align-items-center">
      <a class="nav-link mx-2" [routerLink]="['/']" routerLinkActive="active">{{ 'NAVBAR.HOME' | translate }}</a>
      <a class="nav-link mx-2" [routerLink]="['/products']" routerLinkActive="active">{{ 'NAVBAR.PRODUCTS' | translate }}</a>
      <a class="nav-link mx-2" [routerLink]="['/about']" routerLinkActive="active">{{ 'NAVBAR.ABOUT_US' | translate }}</a>
      <a class="nav-link mx-2" [routerLink]="['/contact']" routerLinkActive="active">{{ 'NAVBAR.CONTACT' | translate }}</a>
    </div>
    <!-- Right Side (Login) -->
    <div class="d-flex align-items-center">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">
        <i class="bi bi-person-circle fs-4"></i>
      </a>
    </div>
  </div>
</div>
<app-mobile-nav></app-mobile-nav>


    
    

    
    
    <!-- Main Content -->
    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
      <div class="text-center p-3">
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </div>
    </footer>
  </div>
</section>
