
 
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; /* Ensures no content overflows outside the rounded corners */

  }
  .default-gradient{

    background: linear-gradient(135deg, #333333, #87CEFA); /* Dark gray to light blue */

    min-height: 100vh;
    animation: gradientAnimation 5s ease infinite alternate;  /* 'alternate' ensures reverse */
  }
  .products-gradient {
    background: linear-gradient(135deg, #4F4F4F, #C0C0C0); /* Gray to silver */
    min-height: 100vh;
    animation: gradientAnimation 5s ease infinite alternate;  /* 'alternate' ensures reverse */

  }
  
  .about-gradient {
    background: linear-gradient(135deg, #ADD8E6, #D3D3D3); /* Light blue to soft gray */
    min-height: 100vh;
    animation: gradientAnimation 5s ease infinite alternate;  /* 'alternate' ensures reverse */

  }
  
  .contact-gradient {
    background: linear-gradient(135deg, #D3D3D3, #FFFFFF); /* Light gray to white */
    min-height: 100vh;
    animation: gradientAnimation 5s ease infinite alternate;  /* 'alternate' ensures reverse */

  }

  .navbar {
    position: relative;
    z-index: 1000; /* Ensure it's layered above other content */
    overflow: visible; /* Allow content like dropdowns to overflow */
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden; /* Ensures no content overflows outside the rounded corners */
  }
 /* Logo styling */
.logo {
  height: 40px; /* Adjust this height based on your design */
  margin-right: 10px; /* Space between the logo and the brand text */
}

.navbar-brand {
  display: flex;
  align-items: center; /* Align logo and text vertically */
}
.language-switcher {
  display: flex;
  align-items: center; /* Vertically center the logo and buttons */
  gap: 5px; /* Space between the logo and buttons */
}

.lang-btn {
  padding: 4px 8px;
  border: 2px solid #007bff;
  border-radius: 15px;
  background-color: transparent;
  color: #007bff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lang-btn.active {
  background-color: #007bff;
  color: white;
}

.lang-btn:hover {
  background-color: #007bff;
  color: white;
}

.logo {
  height: 30px; /* Adjust the size of the logo */
  margin-right: 10px; /* Space between the logo and buttons */
}



  
 