.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.368);
  transition:  box-shadow 0.3s ease;
}

.fa-star, .fa-star-o {
  color: gold;
}


  

.hero-section {
  border-bottom-left-radius: 10px; /* Rounds the bottom-left corner */
  border-bottom-right-radius: 10px; /* Rounds the bottom-right corner */
  overflow: hidden; /* Ensures content stays within rounded corners */
}

